.is_ases,
.is_ases th,
.is_ases td {
    background-color: gray!important;
}

#user-grades td {
    vertical-align: middle;
    text-align: center;
}
.th-student-names a {
    cursor: pointer;
}
.th-category {
    background-color: gray;
}
.td-grade input {
    width: 50px;
}
/**
 * Moove theme styles needed
 * @see https://moodle.org/plugins/theme_moove
 */
#region-main > .card {
    overflow-x: initial;
}

/** End Moove theme styles needed */


.td-grade input::-webkit-outer-spin-button,
.td-grade input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.customgrader table,
.customgrader table td,
.customgrader table th {
    border: 1px solid #ccc;
}

.td-grade input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
.th-category {
    min-width: 130%;
}
.table-grader th {
    border: 1px solid #ccc;
}